.internship-list {
  margin-top: 25px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 5px #00000015;
}

.internship-list h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.internship-list ul {
  margin-top: 15px;
  padding-left: 20px;
}

.internship-list li {
  margin-bottom: 10px;
}
