.overview-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 5px #00000015;
  width: 220px;
  text-align: center;
}

.icon-box {
  background: #0c1222;
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
}

.overview-card h3 {
  margin: 8px 0;
  font-size: 18px;
}

.overview-card p {
  font-size: 22px;
  font-weight: bold;
  color: #0c1222;
}
